@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

.connect-background {
    background: url('https://cdna.artstation.com/p/assets/images/images/013/003/800/large/gray-rogers-got-redkeep-bgart.jpg?1537578608') no-repeat center center fixed;
    background-size: cover; 
    height: 500px;
}

.layer {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    flex-wrap: wrap;
}

.page-layer {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
}

.landingText {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.landingText h1 {
    font-family: 'Roboto', sans-serif;
}

.landingText h3 {
    font-family: 'Montserrat', sans-serif;
}

.addForms {
    padding: 0 200px 0 200px !important;
}
